@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;800;900&display=swap);
  font-family: 'Noto Sans TC', sans-serif;
}

html {

  scroll-behavior: smooth;
 
}

.nav_text {
  font-family: url(https://fonts.googleapis.com/css2?family=Chewy&display=swap);
  font-weight: 800;
  font-family: 'Chewy', display;

}

/* Scroll barni stilizatsiya qilish */
.panel_scrool::-webkit-scrollbar {
  width: 15px;
  /* Scroll bar kengligi */
}

.panel_scrool::-webkit-scrollbar-thumb {
  background-color: #2d2f2d;
  /* Scroll bar'ning yadro rangi */
  border-radius: 10px;
}

.panel_scrool::-webkit-scrollbar-track {
  background: #6b6b6b;
  /* Scroll bar yo'lining rangi */
}

